.layout{
    user-select: none;

    .dashboard-container{
        background: hsl(220, 23%, 98%);

    
        &::-webkit-scrollbar {
            display: none; /* Hides the scrollbar */
        }

        .accounts{
            margin-top: 5rem;
            padding: 2.8rem 2.8rem 1.6rem 2.8rem;
            position: relative;
        

            .accounts-container{
            position: relative;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 5px;
                white-space: nowrap;
                overflow-x: auto;
                scroll-behavior: smooth; 
                -ms-overflow-style: none;
                scrollbar-width: none; 
                &::-webkit-scrollbar {
                    display: none;
                }

                .account{
                    text-decoration: none;
                    color: #252525;
                background: white;
                
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                padding: 1rem;
                border-radius: 20px;
                cursor: pointer;
                
                height: 165px;
                display: flex;
                flex-direction: column;
                    justify-content: space-between;
                    min-width: 250px !important;

                    &:hover{
                        background: #F0F1FA;
                    }

                    .name-logo{
                        display: flex;
                        align-items: center;
                        gap: 1.6rem;
                        
                        p{
                            letter-spacing: 1px;
                            font-size: 16px;
                            font-weight: 500;

                            .br{
                                display: none;
                            }
                        }
                        img{
                            width: 40px;
                            height: 40px;
                        }
                    }

                    .available{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .total{
                            color: hsl(0, 0%, 30%);
                            font-weight: 500;
                            letter-spacing: 0.5px;
                            display: flex;
                            align-items: center;
                            font-size: 18px;
                        }
                        p{
                            color: #888;
                            font-size: 14px;
                        }
                    }
                }
            }

            .swipe{
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 1rem;
                margin-top: 1rem;

                button{
                    border: none;
                    background: hsl(0, 0%, 95%);
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: hsl(0, 0%, 50%);
                      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);

                }
            }
        }

        .act{
            padding-inline: 3rem;
            position: relative;
            user-select: none;
            
            .actions-container{
                background: white;
                padding: 1.6rem;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                position: relative;

                h5{
                    font-weight: 500;
                }

                .activities{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    gap: 1rem;
                    cursor: pointer;
                    position: relative;

                    .activity{
                        user-select: none;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        gap: .5rem;
                        height: 50px;
                        padding: 1rem;
                        border-radius: 50px;
                        cursor: pointer;
                        background: #F0F1FA;
                        font-weight: 500;
                        transition: ease-in-out;
                        color: #252525;
                        font-size: 75%;


                        .icon{
                            color: rgba(100,43,115,1)  ;
                            font-size: 20px;
                        }

                        &:hover{
                            transform: scale(.95);
                        }

                        &:focus {
                            transform: scale(.95);
                        }
                    }
                }

                .activity.mobile{
                    display: none;
                }

             
            }
        }

        .newInvest-methods{
            padding-inline: 3rem;
            position: relative;
            user-select: none;
            margin-top: 1.6rem;

            .newInvest-methods-container{
                gap: 1.6rem;
                display: flex;
                position: relative;
                
                .active, .methods{
                    border-radius: 20px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    position: relative;
                    background: white;
                    padding: 1.6rem;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 350px;

                    //

                    .all-transactions{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        position: absolute;
                        left: -6%;
                        bottom: 6%;
  
                        a{
                          display: inline-flex;
                          align-items: center;
                          text-decoration: none;
                          font-weight: 500;
                          font-size: 14px;
                          color: rgba(100,43,115,1)  ;
  
                        }
                      }
            .nothing{
                color: #888;
                text-align: center;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                text-align: center;
                font-size: .8em;
              }
              
              h3{
                font-size: 14px;
                color: #888;
                font-weight: 400;
                letter-spacing: 0.5px;
                margin-bottom: 1.6rem;
              }
  
              .investment-item {
                border-block: 1px solid #ddd;
                padding: 16px;
                padding-inline: 0;
                margin: 1rem 0;
                // border-radius: 8px;
                // background-color: #f9f9f9;
                // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
                display: flex;
                justify-content: space-between;
                align-items: center;
  
                .Asset-Invested{
                  background: hsl(0, 0%, 93%);
                  padding: 1px 10px;
                  font-weight: 600;
                  font-size: 8px;
                  width: fit-content;
                  border-radius: 5px;
                }

                span{
                    display: flex;
                    align-items: center;
                    // font-size: 50%;
                    font-size: 10px;
                    gap: 2px;
                }
  
  
                .name-asset{
                  display: flex;
                  gap: .75rem;
                  align-items: center;
                  padding-bottom: .25rem;
                  line-height: 2;


  
                  .amount-return, span{
                    font-size: 12px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    color: #888;
                    gap: 3.5px;
                  }
                  
                }
  
                .amount-duration{
                  border-left: 3px solid #642B73;
                  display: flex;
                  flex-direction: column;
                  justify-content: start;
                  padding-left: .5rem;
                  margin-bottom: .5rem;
  
             
  
                  .duration-details{
                    font-size: 14px;
                    color: #333;
                    font-weight: 500;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
  
                    .span{
                      color: #888;
                      display: flex;
                      align-items: center;
                      gap: 5px;
                    }
  
                  }
                }
  
              .progress-container{
                font-size: 14px;
              }
  
   
                .re{
                  font-size: 12px;
                  line-height: 1.5;
                  color: #888;
                  margin-block: .5rem;
                }
                
             
                
              
              }
              
              .investment-item h4 {
                color: #333;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;

              }
              
              .investment-item p {
                line-height: 2;
              }


                    //

                    h5{
                        margin-bottom: 2rem;
                    }

                

                    .active-investments, .methods-content{
                        display: flex;
                        flex-direction: column;
                        gap: 1.6rem;
                        width: 100%;
                        height: 100%;
                        line-height: 1.5;
                        position: relative;

                        .nothing{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            font-size: .8em;
                        }
                    }

                    .methods-content{

                        .methods-icons{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            
                            .wallet{
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                gap: 1.5rem;
                                font-size: .9em;

                                img{
                                    width: 35px;
                                    height: 35px;
                                }

                                p{
                                    font-size: .9em;
                                }
                            }
                        }
                    }

                    .all-wallets{
                        font-size: .8em;
                        width: 100%;
                        text-align: end;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 5px;
                        color: #642B73;
                        font-weight: 500;
                        justify-content: flex-end;
                        text-decoration: none;

                        .icon{
                            font-size: 16px;
                        }
                    }


                }

                
                
            }
        }

        .investment-rates, .transaction-history{
            padding-inline: 3rem;
            position: relative;
            user-select: none;
            margin-top: 1.6rem;
        }

        .investment-rates{

            .investment-rates-container{
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                position: relative;
                background: white;
                padding: 1.6rem;
                padding-block: 2.5rem;
                display: flex;
                flex-direction: column;
                width: 100%;

                h5{
                    margin-bottom: 1.6rem;
                }
                
                .rate{
                    font-size: .9em;
                    display: grid;
                    align-items: center;
                    padding-block: 1.2rem;
                    grid-template-columns: 33.3% 33.3% 33.3%;
                    border-bottom: 1.5px solid hsl(0, 0%, 95%);
                    cursor: pointer;
                }
                .rate.last{
                    border-bottom: none;
                }

                .head{
                    font-weight: 600;

                    .capital{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 80%;
                    }
                }

                .roi-rate{
                    .asset{
                        display: flex;
                        align-items: center;
                        gap: .7rem;

                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .ROI{
                        font-size: .9em;
                        line-height: 1.5;
                    }


                }
            }
        }

         .recent-transactions{
                margin-block: 2rem;
                border-radius: 20px;
                border: 2px dashed hsl(0, 0%, 15%);
                width: 90%;
                margin: 2rem auto;

                .recent-transactions-container{
                    padding: 1.5rem;
                    overflow-x: scroll;
                    white-space: nowrap;

                    &::-webkit-scrollbar { 
                      display: none; /* Hide the scrollbar */
                    }

                    .nothing-yet{
                      display: flex;
                      flex-direction: column;
                      gap: 1rem;
                      justify-content: center;
                      text-align: center;

                      font-size: 14px;
                      margin-block: 2rem;
                      line-height: 1.5;

                      .icon{
                        font-size: 20px;
                        display: flex;
                        align-self: center;
                      }

                      p{
                        font-size: 12px;
                      }
                      
                    }

                    table{
                      width: 100%;
                      border-radius: 10px;
                      text-align: center;
                      padding-inline: 1rem;
                      margin-block: 1rem;
                  
                  }
  
                  table tr th{
                      color: hsl(0, 0%, 35%);
                      padding: 1rem;
                      font-family: 500;
                  }
  
                  table tbody tr td{
                      border-bottom: 1px solid hsl(0, 0%, 90%);
                      transition: background 0.3s ease;
                      padding-block: 1.5rem;
                      font-size: 14px;
                      color: #333;
                    }

                    .all-transactions{
                      width: 100%;
                      display: flex;
                      justify-content: flex-end;
                      position: sticky;
                      left: 0;

                      a{
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 14px;
                        color: rgba(100,43,115,1)  ;

                      }
                    }


                  
                    
                }
             }   

    }
}

@media screen and (max-width: 765px) {
.layout{

    .dashboard-container{
       .accounts{
            margin-top: 3rem;
            margin-top: 5rem;
            padding-inline: 1rem;

            .accounts-container{

                .account{
                    font-size: .9em;
                    min-width: 175px !important;

                    .name-logo{
                        gap: 1rem;


                        img{
                            width: 35px;
                            height: 35px;
                        }
                        p{
                            display: contents;
                            flex-wrap: wrap;
                            font-size: 14px;

                            .br{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .act{
            padding-inline: 1.2rem;
            position: relative;

            .actions-container{
                padding: .5rem;
                gap: 0;
                
                h5{
                    padding: 1rem;
                }
                
                .activities{
                    grid-template-columns: repeat(3,1fr);
                    font-size: .8em;
                    padding: 0.5rem;
                    
                    
                    .icon{
                        display: none;
                    }
                    
                    .activity.desktop{
                        display: none;
                    }
                }
                
                .activity.mobile{
                    display: flex;
                    width: 96.5%;
                    font-size: .8em;
                    margin-block: .5rem;

                    text-decoration: none;
                    display: flex;
                    align-self: center;
                    justify-self: center;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                    height: 50px;
                    padding: 1rem;
                    border-radius: 50px;
                    cursor: pointer;
                    background: #F0F1FA;
                    font-weight: 500;
                    transition: ease-in-out;
                    color: #252525;

                    .icon{
                        color: rgba(100,43,115,1)  ;
                        font-size: 1rem;
                    }

                    &:hover{
                        transform: scale(.95);
                    }
                }

            }
        }

        .newInvest-methods{
            padding-inline: 1.2rem;
            position: relative;
        
            .newInvest-methods-container{
                flex-direction: column;

                .active .active-container .investment-item{
                    img{
                        display: none;
                    }
                }
            }

            }

            .investment-rates{
                padding-inline: 1.2rem;

                .investment-rates-container{
                    h5{
                        font-size: 13.5px;
                    }
                    
                    font-size: 0.8em;

                   .roi-rate{
                    .capital{
                        padding-left: 1.5rem;
                      }
                   }
                }
            }

            .recent-transactions{
                margin-bottom: 5rem;

                .recent-transactions-container{
    
                  table{
                    padding: 0;
                  }
    
                    table tbody tr td {
                      padding-block: 1.75rem;
                      padding-inline: 1.5rem; 
                  }
                }
              }
    }
}
}