.layout{
    user-select: none;

    .dashboard-container{
        background: #F7F8FA;
    
        &::-webkit-scrollbar {
            display: none; /* Hides the scrollbar */
        }

        .accounts{
            margin-top: 5rem;
            padding: 2.8rem 2.8rem 1.6rem 2.8rem;
            position: relative;

            .accounts-container{
            position: relative;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                padding: 5px;
                white-space: nowrap;
                overflow-x: auto;
                scroll-behavior: smooth; 
                -ms-overflow-style: none;
                scrollbar-width: none; 
                &::-webkit-scrollbar {
                    display: none;
                }

                .account{
                background: white;

                    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                    padding: 1rem;
                    border-radius: 20px;
                    cursor: pointer;

                    height: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-width: 250px !important;

                    &:hover{
                        background: #F0F1FA;
                    }

                    .name-logo{
                        display: flex;
                        align-items: center;
                        gap: 1.6rem;
                        
                        p{
                            letter-spacing: 1px;
                            font-size: 16px;
                            font-weight: 500;

                            .br{
                                display: none;
                            }
                        }
                        img{
                            width: 50px;
                            height: 50px;
                        }
                    }

                    .available{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        .total{
                            font-weight: 500;
                        }
                        p{
                            color: #888;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .act{
            padding-inline: 3rem;
            position: relative;
            user-select: none;
            
            .actions-container{
                background: white;
                padding: 1.6rem;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                position: relative;

                h5{
                    font-weight: 500;
                }

                .activities{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    gap: 1rem;
                    cursor: pointer;
                    position: relative;

                    .activity{
                        user-select: none;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        height: 50px;
                        padding: 1rem;
                        border-radius: 50px;
                        cursor: pointer;
                        background: #F0F1FA;
                        font-weight: 500;
                        transition: ease-in-out;
                        color: #252525;

                        .icon{
                            color: rgba(100,43,115,1)  ;
                        }

                        &:hover{
                            transform: scale(.95);
                        }

                        &:focus {
                            transform: scale(.95);
                        }
                    }
                }

                .activity.mobile{
                    display: none;
                }
            }
        }

        .newInvest-methods{
            padding-inline: 3rem;
            position: relative;
            user-select: none;
            margin-top: 1.6rem;

            .newInvest-methods-container{
                gap: 1.6rem;
                display: flex;
                position: relative;
                
                .active, .methods{
                    border-radius: 20px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    position: relative;
                    background: white;
                    padding: 1.6rem;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 350px;

                    h5{
                        margin-bottom: 2rem;
                    }

                    .active-investments, .methods-content{
                        display: flex;
                        flex-direction: column;
                        gap: 1.6rem;
                        width: 100%;
                        height: 100%;
                        line-height: 1.5;
                        position: relative;

                        .nothing{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            text-align: center;
                            font-size: .8em;
                        }
                    }

                    .methods-content{

                        .methods-icons{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            
                            .wallet{
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                gap: 1.5rem;
                                font-size: .9em;

                                img{
                                    width: 35px;
                                    height: 35px;
                                }

                                p{
                                    font-size: .9em;
                                }
                            }
                        }
                    }

                    .all-wallets{
                        font-size: .8em;
                        width: 100%;
                        text-align: end;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        gap: 5px;
                        color: #642B73;
                        font-weight: 500;
                        justify-content: flex-end;

                        .icon{
                            font-size: 16px;
                        }
                    }


                }

                
                
            }
        }

        .investment-rates, .transaction-history{
            padding-inline: 3rem;
            position: relative;
            user-select: none;
            margin-top: 1.6rem;
        }

        .investment-rates{

            .investment-rates-container{
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                position: relative;
                background: white;
                padding: 1.6rem;
                padding-block: 2.5rem;
                display: flex;
                flex-direction: column;
                width: 100%;

                h5{
                    margin-bottom: 1.6rem;
                }
                
                .rate{
                    font-size: .9em;
                    display: grid;
                    align-items: center;
                    padding-block: 1.2rem;
                    grid-template-columns: 33.3% 33.3% 33.3%;
                    border-bottom: 1.5px solid hsl(0, 0%, 95%);
                    cursor: pointer;
                }
                .rate.last{
                    border-bottom: none;
                }

                .head{
                    font-weight: 600;

                    .capital{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: 80%;
                    }
                }

                .roi-rate{
                    .asset{
                        display: flex;
                        align-items: center;
                        gap: .7rem;

                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .ROI{
                        font-size: .9em;
                        line-height: 1.5;
                    }


                }
            }
        }

        .transaction-history{

            .transaction-history-container{
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                position: relative;
                background: white;
                padding: 1.6rem;
                padding-block: 2.5rem;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 5rem;
                height: 300px;

                .nothing-yet{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    text-align: center;
                    font-size: .8em;
                }
            }
        }

    }
}

@media screen and (max-width: 765px) {
.layout{

    .dashboard-container{
       .accounts{
            margin-top: 3rem;
            margin-top: 5rem;
            padding-inline: 1rem;

            .accounts-container{

                .account{
                    font-size: .9em;
                    min-width: 175px !important;

                    .name-logo{
                        gap: 1rem;
                        img{
                            width: 35px;
                            height: 35px;
                        }
                        p{
                            display: contents;
                            flex-wrap: wrap;

                            .br{
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .act{
            padding-inline: 1.2rem;
            position: relative;

            .actions-container{
                padding: .5rem;
                gap: 0;
                
                h5{
                    padding: 1rem;
                }
                
                .activities{
                    grid-template-columns: repeat(3,1fr);
                    font-size: .8em;
                    padding: 0.5rem;
                    
                    
                    .icon{
                        display: none;
                    }
                    
                    .activity.desktop{
                        display: none;
                    }
                }
                
                .activity.mobile{
                    display: flex;
                    width: 96.5%;
                    font-size: .8em;
                    margin-block: .5rem;

                    text-decoration: none;
                    display: flex;
                    align-self: center;
                    justify-self: center;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                    height: 50px;
                    padding: 1rem;
                    border-radius: 50px;
                    cursor: pointer;
                    background: #F0F1FA;
                    font-weight: 500;
                    transition: ease-in-out;
                    color: #252525;

                    .icon{
                        color: rgba(100,43,115,1)  ;
                        font-size: 1rem;
                    }

                    &:hover{
                        transform: scale(.95);
                    }
                }

            }
        }

        .newInvest-methods{
            padding-inline: 1.2rem;
            position: relative;
        
            .newInvest-methods-container{
                flex-direction: column;
            }

            }

            .investment-rates{
                padding-inline: 1.2rem;

                .investment-rates-container{
                    h5{
                        font-size: 13.5px;
                    }
                    
                    font-size: 0.8em;

                   .roi-rate{
                    .capital{
                        padding-left: 1.5rem;
                      }
                   }
                }
            }

            .transaction-history{
                padding-inline: 1.2rem;
            }
    }
}
}