.layout{

    .content{

        .pages-content{

            .mobile{
                display: none;
                margin-bottom: 1.25rem;
                font-size: 14px;
            }

            .transaction-history{
                width: 100%;
                overflow-x: auto; 
                  white-space: nowrap; 

                  &::-webkit-scrollbar { 
                    display: none; /* Hide the scrollbar */
                  }


                .nothing-yet{
                    display: flex;
                    flex-direction: column;
                    gap: .8rem;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    padding-block: 5rem;
                    border-radius: 10px;

                    font-size: 14px;
                    margin-block: 2rem;
                    line-height: 1.8;
                    flex-wrap: wrap;
                    // overflow-x: hidden;
                    padding-inline: 1rem;
                    .icon{
                      font-size: 30px;
                      display: flex;
                      align-self: center;
                    }

                    .info{
                        text-align: center;
                        color: #888;
                    }
                  }

                table{
                    background: white;
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    text-align: center;
                    padding: 1.5rem;
                }

                table tr th{
                    color: hsl(0, 0%, 35%);
                    padding: 1rem;
                    font-family: 500;
                }

                table tbody tr td{
                    border-top: 1px solid hsl(0, 0%, 90%);
                    transition: background 0.3s ease;
                    padding-block: 1.5rem;
                    font-size: 14px;
                    color: #333;
                }
            }
        }
    }
}

@media screen and (max-width: 955px) {
.layout{

    .content{

        .pages-content{

            .mobile{
                display: block;
            }

            .transaction-history{

                .nothing-yet{
                    
                }

                table{
                    border-radius: 1px;
                }

                table tbody tr td{
                    padding-inline: 1rem;

                }
            }
        }
    }
}
}